/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
}

/* Menu de navegação */
nav {
    background-color: #6200ea;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffeb3b;
}

/* Cabeçalho */
header {
    background-color: #673ab7;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

/* Seções */
section {
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Seção "Sobre Mim" */
#sobre-mim img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
    border: 3px solid #ffeb3b;
}

#sobre-mim p {
    text-align: center;
    font-size: 1.2em;
}

/* Seção Formação Educacional */
#formacao ul {
    list-style-type: none;
    padding: 0;
}

#formacao ul li {
    margin-bottom: 10px;
    font-size: 1.1em;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

/* Seção Portfólio */
#portfolio ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#portfolio ul li {
    display: inline-block;
    margin: 20px;
    font-size: 1.1em;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

#portfolio ul li:hover {
    transform: scale(1.05);
}

#portfolio ul li a {
    text-decoration: none;
    color: #6200ea;
    font-weight: bold;
}

/* Seção Contato */
form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #6200ea;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: #6200ea;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #3700b3;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 10px;
    background-color: #6200ea;
    color: #fff;
    margin-top: 20px;
}

footer a {
    color: #ffeb3b;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
